In [1]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]

for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [2]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

for high_school in high_school_types:
    print(high_school)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [3]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [4]:
# Add the Pandas dependency.
import pandas as pd

In [5]:
#Create panda series from high schools list
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [6]:
for school in school_series:
    print(school)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [7]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [8]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [9]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [10]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()

In [12]:
# Add each list to the data frame
schools_df["School ID"] = school_id
schools_df["School Name"] = school_name
schools_df["Type"] = type_of_school

# Print the data frame
print(schools_df)

   School ID            School Name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [14]:
# Make a dictionary to turn into a data frame
high_schools_dict = {'School ID':school_id,'School Name':school_name,'Type':type_of_school}

# Make a data frame out of the dictionary
schools_df = high_schools_dict

In [15]:
print(schools_df)

{'School ID': [0, 1, 2, 3, 4], 'School Name': ['Huang High School', 'Figueroa High School', 'Shelton High School', 'Hernandez High School', 'Griffin High School'], 'Type': ['District', 'District', 'Charter', 'District', 'Charter']}

In [5]:
import pandas as pd
# Create three lists and add them to a data frame
school_id = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14]
school_name = ['Huang High School','Figueroa High School','Shelton High SChool','Hernandez High School','Griffin High School','Wilson High School','Cabrera High School','Bailey High School','Holden High School','Pena High School','Wright High School','Rodriguez High School','Johnson High School','Ford High School','Thomas High School']
school_type = ['Disctrict','District','Charter','District','Charter','Charter','Charter','District','Charter','Charter','Charter','District','District','District','Charter']

schools_df = pd.DataFrame()

schools_df["School ID"] = school_id
schools_df["School Name"] = school_name
schools_df["Type"] = school_type

print(schools_df)

    School ID            School Name       Type
0           0      Huang High School  Disctrict
1           1   Figueroa High School   District
2           2    Shelton High SChool    Charter
3           3  Hernandez High School   District
4           4    Griffin High School    Charter
5           5     Wilson High School    Charter
6           6    Cabrera High School    Charter
7           7     Bailey High School   District
8           8     Holden High School    Charter
9           9       Pena High School    Charter
10         10     Wright High School    Charter
11         11  Rodriguez High School   District
12         12    Johnson High School   District
13         13       Ford High School   District
14         14     Thomas High School    Charter